<html>
    <head>
        <style>
            table, td {
                border: 1px solid black;
            }

            table {
                border-collapse: collapse;
            }

            td.cell {
                width: 81px;
                height: 81px;
                text-align: center;
            }
            body {
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 80px;
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <h2>Sudoku - <%= title %></h2>
        <table>
            <% board.forEach(function(row) { %>
                <tr>
                    <% row.forEach(function(number) { %>
                        <td class="cell">
                            <% if (number != -1) { %>
                                <%= number %>
                            <% } %>
                        </td>
                    <% }) %>
                </tr>
            <% }) %>
        </table>
    </body>
</html>